
What number do you want to check to see if it is an ISBN number?
<br>
<form action = "ask_isbn" method = "post">
	<input type = "number" name = "isbn">
	<input type = "submit">
</form>

<%= message %>